/*
Colors used:
Primary Color (White Smoke): #F7F7F7;
Secondary Color (White): #FFFFFF;
Tertiary Color (Whisper): #EAEAEA;
Text Color (Aesthetic Black): #1C1C1E;
Hyperlink hover (Grey): #6D6D6F;

Culturico:
Background Color (Dark blue): #000522;

VestFree
Background Color (Dark Blue): #071843;
Background Color (Light Blue): #CCDAE5;
*/

header {
  background-color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.21);
}

* {
  box-sizing: border-box;
}

/* Styling for HERO in index.html */
#hero h1 {
  text-align: center; /* Centers text */
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* Styling to navigation */
nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1C1C1E;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
    color: #6D6D6F;
    text-decoration: underline; /* Colour change and Underlining */
}
nav > ul > li > a:visited { /* visited link */
    color: #1C1C1E;
}
nav > ul > li > a:active { /* selected link */
    color: #6D6D6F;
    text-decoration: underline /* Active underlining */
}

main {
  padding-top: 133px;
}

body {
    background-color: #F7F7F7;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Font weight Light */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #1C1C1E;
}
h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 500; /* Font weight Medium */
}
h2 {
    font-size: 2.25em;
    font-weight: 500; /* Font weight Medium */
}
h3 {
    font-size: 1.75em;
    font-weight: 400; /* Font weight Regular */
}
h4 {
    font-size: 1.35em;
    font-weight: 400; /* Font weight Regular */
}

img {
    width: 100%;
  }

a {
    color: #1C1C1E;
    text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
    color: #6D6D6F;
    text-decoration: underline; /* Colour change and Underlining */
}
a:visited { /* visited link */
    color: #1C1C1E;
}
a:active { /* selected link */
    color: #6D6D6F;
    text-decoration: underline /* Active underlining */
}

.button {
    display: inline-block;
    background-color: #1C1C1E;
    color: #FFFFFF; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #1C1C1E; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

.button:hover {
  text-decoration: underline;
  color: #FFFFFF; 
}

.button:visited {
  color:#FFFFFF;
}

#contact {
  background-color: #1C1C1E;
  color: #FFFFFF; 
}

.button.contact {
  background-color: #FFFFFF;
  color: #1C1C1E;
  text-transform: uppercase;
  border: 2px solid #1C1C1E;
}

.button.contact:hover {
  background-color: #1C1C1E;
  color: #FFFFFF;
}

.wireframe {
  background-color: #FFFFFF;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}


.logo {
  max-width: 250px;
}



