/*
Colors used:
Primary Color (White Smoke): #F7F7F7;
Secondary Color (White): #FFFFFF;
Tertiary Color (Whisper): #EAEAEA;
Text Color (Aesthetic Black): #1C1C1E;
Hyperlink hover (Grey): #6D6D6F;

Culturico:
Background Color (Dark blue): #000522;
Light Blue: #C0EDF7;

VestFree
Background Color (Dark Blue): #071843;
Background Color (Light Blue): #CCDAE5;
*/

header {
  background-color: #FFFFFF;
  width: 100%;
  padding: 20px 10px;
  position: fixed;
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.21);
  z-index: 999;
}

* {
  box-sizing: border-box;
}

/* Styling for HERO in index.html */
#hero h1 {
  text-align: center; /* Centers text */
}

#hero {
  padding: 40px 0;
  display: inline-block;
  width: 100%;
}

/* Styling to navigation */
nav {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  margin: 0px 24px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #1C1C1E;
  position: relative;
}

nav > ul > li > a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

nav > ul > li > a:visited { /* visited link */
    color: #1C1C1E;
}
nav > ul > li > a:active { /* selected link */
    color: #6D6D6F;
    transform-origin: left;
    transform: scaleX(1);
}

main {
  padding-top: 133px;
}

body {
    background-color: #F7F7F7;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Font weight Light */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #1C1C1E;
}
h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 500; /* Font weight Medium */
}
h2 {
    font-size: 2.25em;
    font-weight: 500; /* Font weight Medium */
}
h3 {
    font-size: 1.75em;
    font-weight: 400; /* Font weight Regular */
}
h4 {
    font-size: 1.35em;
    font-weight: 400; /* Font weight Regular */
}

img {
    width: 100%;
  }

  .col-md-6 .col-lg-5 .button {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .button a{
    display: block;
    width: fit-content;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    padding: 0px 20px;
    transition: all .35s;
  }
  
  .button a span{
    position: relative;
    z-index: 2;
  }
  
  .button a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    transition: all .35s;
  }
  
  .button a:hover{
    color: #fff;
  }
  
  .button a:hover:after{
    width: 100%;
  }
  
#contact {
  background-color: #1C1C1E;
  color: #FFFFFF; 
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

#contact .container .socials {
  padding: 20px 0px;
}

#contact svg {
  max-width: 44px;
}

.button.contact {
  display: block;
  width: fit-content;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #1C1C1E;
  border: 2px solid #FFF;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  padding: 0px 20px;
  transition: all .35s;
}

.button.contact:hover {
  background-color: #1C1C1E;
  color: #FFFFFF;
}

.wireframe {
  background-color: #FFFFFF;
}

/* Layout styling */
.container {
  padding: 0 20px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.logo {
  max-width: 150px;
}

/* Styling for About.html */
#conrent p {
  text-align: right;
}

/* Styling for culturico */
#culturico #hero p {
  text-align: center;
}

#culturico #hero {
  background-color: #C0EDF7;
  padding-bottom: 0px;
  display: inline-block;
}

#culturico #case-study {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#culturico #skill-tool img {
  max-width: 44px
}

#culturico #flow-design-style {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#culturico #hi-fi {
  background-color: #000522;
  color: #FFFFFF;
}

#culturico #design-adjustment {
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
}

#culturico #hi-fi, #final {
  background-color: #000522;
  color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* Styling for VestFree */
#vestfree #hero p {
  text-align: center;
}

#vestfree #hero {
  background-color: #071843;
  color: #FFFFFF;
  padding-bottom: 0px;
  display: inline-block;
}


#vestfree #case-study {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#vestfree #skill-tool img {
  max-width: 44px
}

#vestfree #design-adjustment {
  background-color: #CCDAE5;
  display: inline-block;
  width: 100%;
}

#vestfree #style-guide {
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}

#vestfree #hi-fi-mobile {
  background-color: #071843;
  color: #FFFFFF;
  display: inline-block;
  width: 100;
  Padding-bottom: 20px;
}

#vestfree #hi-fi-desktop {
  background-color: #CCDAE5;
  display: inline-block;
  width: 100;
  Padding: 20px 0px;
}

/* ================================
Responsive size column pencentages
===================================
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
=================================

/* ================================
Medium devices (640px and larger)
================================= */

[class*="col-"] {
  float: left;
  padding: 0px 10px;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0px 15px;
  }
  
  nav {
    width: auto;
    float: right;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }
  
  main {
    padding-top: 99px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  #about h3 { margin-top: 0;}

  .container {
    max-width: 720px;
    margin: 0px auto;
  }
}

/* ==============================
Large devices (1024px or larger) 7-5
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
  
  .container {
    max-width: 960px;
    margin: 0px auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ======
Arrow animation
====== */
.arrow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-container {
  width: 1px;
  height: 100px;
  position: relative;
  margin-bottom: 100px;
}
.line {
  position: absolute;
  width: 2px;
  height: 0px;
  background-color: #000;
  top: 0;
  bottom: initial;
  animation: line-animation 2.5s ease-in-out 0s infinite normal; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.line::before {
  content: ' ';
  width: 16px;
  height: 16px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 0;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal; 
}
@keyframes line-animation {
  0% {height: 0px; top: 0px; opacity: 0;}
  50% {height: 200px; top: 0px; opacity: 1;}
  100% {height: 0px; top: 200px; opacity: 0;}
}

@keyframes arrow-animation {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}

/* ======
Animation
====== */
svg #about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}to {transform: translate(100px, 48px);}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}